version: 2
models:
  - name: alchemy_transfers__alchemy_utils
    columns:
      - name: get_asset_transfers
        tests:
          - test_udf:
              name: test_alchemy_transfers__get_asset_transfers_status_200
              args: >
                'eth-mainnet', [{'fromBlock': '0x0', 'toBlock': 'latest', 'toAddress': '0x5c43B1eD97e52d009611D89b74fA829FE4ac56b1', 'category': ['external'], 'withMetadata': True, 'excludeZeroValue': True}]
              validations:
                - result:status_code = 200

