version: 2
models:
  - name: subquery__
    columns:
      - name: graphql
        tests:
          - test_udf:
              name: test_subquery__graphql_status_200
              args: >
                'kepler-network'
                , {'query':'query { _mmrs (first: 5) { nodes { key } } }'}
              validations:
                - result:status_code = 200
