SNOWFLAKE_ACCOUNT='vna27887.us-east-1'
SNOWFLAKE_ROLE='ACCOUNTADMIN'
SNOWFLAKE_USER='<>'
SNOWFLAKE_PASSWORD='<>'
SNOWFLAKE_REGION='us-east-1'
SNOWFLAKE_DATABASE='LIVEQUERY_DEV'
SNOWFLAKE_WAREHOUSE='INTERNAL_DEV'
