version: 2
models:
  - name: live
    columns:
      - name: udf_api
        tests:
          - test_udf:
              name: test__live_udf_api_post_data_object
              args: |
                'https://httpbin.org/post', {'foo': 'bar'}
              assertions:
                - result:data.json = OBJECT_CONSTRUCT('foo', 'bar')
          - test_udf:
              name: test__live_udf_api_post_data_array
              args: |
                'https://httpbin.org/post', ['foo', 'bar']
              assertions:
                - result:data.json = ARRAY_CONSTRUCT('foo', 'bar')
          - test_udf:
              name: test__live_udf_api_post_data_string
              args: |
                'https://httpbin.org/post', 'foo'
              assertions:
                - result:data = 'foo'
              enabled: false