version: 2
models:
  - name: utils
    columns:
      - name: udf_json_rpc_call
        tests:
          - test_udf:
              args: "'foo', [], 1"
              assertions:
                - >
                  result = {
                    'jsonrpc': '2.0',
                    'method': 'foo',
                    'params': [],
                    'id': '1'
                  }
