name: integration test
run-name: ${{ github.event.inputs.branch }}

on:
  workflow_dispatch:
  schedule:
    # Runs “Daily at midnight GMT” (see https://crontab.guru)
    - cron: '0 0 * * *'

concurrency: ${{ github.workflow }}

jobs:
  test:
    name: ${{ matrix.environment }}
    uses: ./.github/workflows/dbt.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        include:
          - environment: hosted
            warehouse: XSMALL
          - environment: prod
            warehouse: DBT_CLOUD
    with:
      warehouse: ${{ matrix.warehouse }}
      environment: ${{ matrix.environment }}
      command: dbt test -s tag:integration_test
