name: test udfs
run-name: ${{ github.event_name == 'schedule' && 'prod' || github.event_name == 'workflow_dispatch' && inputs.environment || 'dev' }} - ${{ github.event.inputs.branch || github.event.pull_request.title || 'main' }}

on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: DBT Run Environment
        required: true
        options:
          - dev
          - prod
          - hosted
        default: dev
      warehouse:
        type: choice
        description: Snowflake warehouse
        required: true
        options:
          - DBT
          - DBT_CLOUD
          - XSMALL
        default: DBT
  schedule:
    # Runs “Daily at midnight GMT” (see https://crontab.guru)
    - cron: '0 0 * * *'
  pull_request:
    paths:
      - 'models/deploy/marketplace/**'
      - 'macros/marketplace/**'

concurrency:
  group: ${{ github.workflow }}

jobs:
  scheduled:
    uses: ./.github/workflows/dbt.yml
    if: github.event_name == 'schedule' || github.event_name == 'push'
    secrets: inherit
    with:
      warehouse: ${{ vars.WAREHOUSE }}
      environment: prod
      command: dbt test --selector test_udfs --threads 5

  dispatched:
    uses: ./.github/workflows/dbt.yml
    if:  github.event_name == 'workflow_dispatch'
    secrets: inherit
    with:
      warehouse: ${{ inputs.warehouse }}
      environment: ${{ inputs.environment }}
      command: dbt test --selector test_udfs --threads 5

  pull_request:
    uses: ./.github/workflows/dbt.yml
    if: github.event_name == 'pull_request'
    secrets: inherit
    with:
      warehouse: ${{ vars.WAREHOUSE }}
      environment: dev
      command: dbt test --selector test_udfs --threads 5
